name: Build & Test

on:
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - main

jobs:
  build_and_test:
    name: 'Build & Test'

    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repo
      uses: actions/checkout@v2

    - name: Get WebApp publish profile
      id: webapp
      uses: ./
      env:
        AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      with:
        resourceGroupName: ${{ secrets.RESOURCE_GROUP_NAME }}
        appName: ${{ secrets.WEBAPP_NAME }}

    - name: Show WebApp Profile
      shell: bash
      run: |
        echo "WebApp: ${{ steps.webapp.outputs.profile }}"

    - name: Reset WebApp publish profile
      id: reset
      uses: ./
      env:
        AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      with:
        resourceGroupName: ${{ secrets.RESOURCE_GROUP_NAME }}
        appName: ${{ secrets.FUNCTIONAPP_NAME }}
        reset: true

    - name: Show Reset Profile
      shell: bash
      run: |
        echo "WebApp: ${{ steps.reset.outputs.profile }}"
